<% provide(:title, "View forums") %>


<% @forum_groups.each do |category, forums| %>
    <div class="row-fluid">
      <div class="span12 forum-header">
        <%= category %>
    <% forums.each do |forum| %>
    <div class="row-fluid forum-info">
      <div class="span3 forum-name"><h4><i class="icon-folder-close-alt">
      	</i> <%= link_to forum.name, forum_path(forum) %></h4>
      	<div class="row-fluid"><!-- begin nested row -->
      		<div class="span12 forum-description"><%= forum.description %></div>
      	</div><!-- end nested row -->
      </div>
      <div class="span4 forum-description"><h4><small>Nice e</small></h4></div>
      <div class="span2 offset3 topic-count">Topics
      	<div class="row-fluid">
      		<div class="span12"><%= forum.topics.size %></div>
      	</div>
      </div>	
    </div>
    <% end %>
    <% end %>
  </div>
</div>
</div>
</div>
