<div class="row-fluid"><!-- row remains open in partial, to align side nav & main body(close is in application) -->
  <div class="span2">
    <%= controller.controller_name %>

    <div class="well sidebar-nav">
          <ul class="nav nav-list">
              <li class="nav-header">List header</li>
              <li class="active"><a href="#">blah</a></li>
              <li><a href="#"><%= nav_thing %></a></li><% nav_thing.each do |thing| %><%= thing.category.name %><% end %>
          </ul> 
    </div>
  </div>
  
  
 