<% if self.controller_name == 'forums' && self.action_name == 'show' %>
        <a href="#" class="btn btn-large btn-primary btn block"><i class="icon-pencil"></i> Create New Topic</a>

      <% end %>
      <% controller.controller_name %>